.htpwd-generator .card {
    border-radius: 1rem;
}

.htpwd-generator .card-title {
    font-size: 1.5rem;
    letter-spacing: .5px;
    color: #e61010 !important; 
}

.htpwd-generator .generated-password {
    background-color: #f8f9fa;
    border: 2px dashed #e61010;
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    color: #e61010;
    font-weight: 600;
}

.htpwd-generator .form-control:focus, 
.htpwd-generator .form-select:focus {
    border-color: #e61010;
    box-shadow: 0 0 0 0.2rem rgba(230,16,16,.25);
}

/* nút chính */
.htpwd-generator .btn-primary {
    width: 40%;
    color:white;
    background: linear-gradient(90deg, #e61010, #dc3545);
    border: none;
    border-radius: .5rem;
    transition: all .3s ease;
}

.htpwd-generator .btn-primary:hover {
    background: linear-gradient(90deg, #dc3545, #c82333);
    transform: translateY(-2px);
    box-shadow: 0 .5rem 1rem rgba(230,16,16,.35);
}

/* nút clear */
.htpwd-generator .btn-outline-danger {
    color: #e61010;
    border-color: #e61010;
    border-radius: .5rem;
    transition: all .3s ease;
    width:40%;
}

.htpwd-generator .btn-outline-danger:hover {
    background-color: #e61010;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 .5rem 1rem rgba(230,16,16,.35);
}
